* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Gilroy';
}

html,body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    background-color: #EFEAE3;
}
#page1{
    height:100vh;
    width:100%;
    background-color:#EFEAE3;
    position:relative;
    padding-top:0;
}
nav{
    height:90px;
    width:calc(100% - 20px);
    margin:10px auto;

    background: rgba(0, 0, 0, 0.45);  
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border:1px solid rgba(255,255,255,0.15);
    border-radius:20px;

    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding:0 25px;

}

nav img{
    height:65px;
    width:125px;
    max-width:100%;
    object-fit:cover;
    display:block;
    border-radius:18px;
}
#nav-part2{
    display:flex;
    align-items:center;
    justify-content:center;
    flex:1;
    gap:40px;
}

#nav-part2 a{
    font-size:25px;
    padding:8px 12px;
    color:#fff;
    text-decoration:none;
}

#nav-part3{
    display:flex;
    align-items:center;
    gap:12px;
}

#nav-part3 a{
    padding:10px 20px;
    border:1px solid rgba(75, 73, 73, 0.61);
    border-radius: 50px;
    font-weight: 500;
    color: rgb(253, 250, 250);
    position:relative;
    font-size:18px;
    text-decoration:none;
    z-index:9000;
    overflow:hidden;
}
#nav-part3 a::after{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    background-color:black;
    left:0;
    bottom:-100%;
    transition:all ease 0.5s;
    border-radius:50%;
    z-index:-1;
}
#nav-part3 a:hover::after{
    bottom:0;
    border-radius:0;
}
#nav-part3 a:hover{
    color:#a6d0e2;
}